<div id="wrapper" class="hidden">
  <div class="contentBox searchWrapper margnBottom overflow">
    <%= render 'search_form' %>

    <div class="uploadBox left marginTop">
      <%= render 'file_upload/form' %>
    </div>

  </div>
  <div class="contentBox resultWrapper">
    <div class="resultBox">
      <%= render 'result_box' %>
      <div id="historyResult" class="">

      </div>
    </div>
  </div>
</div>
